---

---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>about</title>
  </head>
  <body>
    <a href="/">首页</a>
    <a href="/about/">关于</a>
    <a href="/blog/">博客</a>

    <h1>测试界面</h1>
    <h2>这是用于测试astro新界面</h2>
    <p>wocao</p>

    <p>astro的路由这么好用</p>
  </body>
</html>
